/* Progress Bar */
.progress {
  position: fixed;
  height: 8px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
  z-index: 1;
}
.progress .determinate {
  position: absolute;
  background-color: inherit;
  top: 0;
  bottom: 0;
  background-color: #26a69a;
  transition: width 0.3s linear;
}
.progress .indeterminate {
  background-color: #26a69a;
}
.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

.chdroot,
.root,
.vchroot,
.mkroot,
.mcroot {
  padding: 52px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.chdroot {
  font-size: 2rem;
}
.vchroot {
  flex-direction: column;
}

/* .mkroot div{
  display : none;
} */

a.list-body,
.content-genres-item {
  position: relative;
  padding: 30px 0px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.row-title-chapter{
  display : none
}

@media only screen and (max-width: 600px) {
  a.list-body {
    flex-wrap: nowrap;
    transform: scale(0.7);
    padding: 0;
  }
  .content-genres-item {
    flex-wrap: nowrap;
  }
  .row-content-chapter li, .chapter-list li {
    width: 88vw !important;
    font-size: 18px !important;
    /* padding: 0px !important; */
    margin: 5px 0px !important;
  }
}

.mkroot .content-genres-item {
  margin: 10px 30px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

a.list-body div .novel-stats,
.content-genres-item .genres-item-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.content-genres-item .genres-item-img {
  width: 156px;
  /* margin-right: 19px; */
}

.item .item-info {
  max-width: 307px;
}

.genres-item-description {
  display: none;
}

.genres-item-info {
  max-width: 271px;
}

.genres-item-info h3 {
  max-height: 114px;
  overflow: hidden;
}
.text-nowrap {
  white-space: pre-line !important;
}

a.list-body .cover-wrap figure {
  position: relative;
  width: 156px;
}
a.list-body .cover-wrap figure .status {
  position: absolute;
  right: 0;
  background: red;
  color: white;
  padding: 0px 5px;
  border-radius: 5px;
}
.cover-wrap {
  margin-right: 19px;
}

.novel-title {
  width: 287px;
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chapter-list,
.row-content-chapter {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.row-content-chapter li,
.chapter-list li {
  margin: 14px 70px;
  background: white;
  padding: 33px;
  font-size: 23px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
  padding-top: 0.5625rem;
  width: 408px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-around;
}

.chapter-no {
  display: none;
}
.chapters {
  max-width: 800px;
  max-width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.chhead {
  font-size: 53px;
}

img,
svg {
  vertical-align: middle;
  width: 100%;
}
